<!DOCTYPE html>
<html>
<head>
        <title>Toorrents</title>

        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

        {% load staticfiles %}

        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
        <script src="{% static 'downloader/js/app.js' %}"></script>

        <link rel="shortcut icon" href="{% static 'downloader/favicon.ico' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'downloader/style.css' %}" />
        <script language="javascript"> var URL_SEARCH = "{% url 'search' %}"; var app = ''; </script>

    </head>
    <body class="light-primary-color">


        {% block content %}
            <div id="myApp" ng-app="myApp" ng-controller="queryCtrl">

                <div id="content">
                    {% include "downloader/navbar.html"%}
                    {% include "downloader/index.html"%}
                    {% include "downloader/ang_results.html"%}
                </div>
            </div>
        {% endblock %}
        <br>
    </body>
</html>