<!DOCTYPE html>
<html>
<head>
        <title>Toorrents</title>

        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

        {% load staticfiles %}
        <link rel="shortcut icon" href="{% static 'downloader/favicon.ico' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'downloader/style.css' %}" />

    </head>
    <body class="light-primary-color">

        <nav class="navbar navbar-inverse navbar-fixed-top navbar-dark dark-primary-color" style="z-index: 1000;">
            <div class="container-fluid">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" style="color: white;" href="{% url 'index' %}" >Home</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#" style="color: white;">Page 1</a></li>
                        <li><a href="#" style="color: white;">Page 2</a></li>
                        <li><a href="#" style="color: white;">Page 3</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container site_header default-primary-color text-primary-color">
            <br>
            <div class="page-header divider-color">
                <header>Toorrents</header>
            </div>
            <description class="text-primary-color" > search multiple queries simultaneously over multiple search engines </description>
        </div>

        <br>

        {% block content %}
        {% endblock %}

    </body>
</html>