{% load staticfiles %}
<head>
<title>Mass Searcher</title>
<link rel="stylesheet" type="text/css" href="{% static 'downloader/style.css' %}" />
<link rel="shortcut icon" href="{% static 'downloader/favicon.ico' %}" />

<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
</head>

{% verbatim %}
<div class="body" ng-app="myApp" ng-controller="queryCtrl">

	<div class="jumbotron well row site_header">
		<div class="col-md-6">
			<h1> Mass Searcher </h1>
		</div>
		<div class="col-md-6">
			<br><br><br><p> search multiple queries simultaneously over multiple search engines </p>
		</div>
	</div>
	<br>
	<div class="container main_app">

		<div class="raw query_area">
			
			<form novalidate>
				<div class="col-md-12 raw well">
					<div class="col-md-11"> 
						<input class="input" placeholder="Enter Query" type="text" ng-model="query"/> 
					</div>
					<div class="col-md-1"> 	
						<button class="btn btn-info my_button" ng-click="ok()"> OK </button>
					</div>
				</div>
			</form>
			
			<div class="table_area">
				<table class="table table-striped table-hover" id="quries_table">
					<tr class="tr" ng-repeat="x in queries track by $index">
						<td class="td">{{x}} <button class="btn btn-info pull-right my_button" ng-click="remove($index)"> Remove </button> </td>
					</tr>
				</table>
			</div>
		</div>
		
	</div>

	<br>

	<div class="container buttom_toolbar">
		<br>
		<button class="btn btn-info pull-right" ng-click="go(queries)">submit</button>
	</div>
	
	<br>
	<div class="modal fade" id="myModal" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
				  <h4 class="modal-title ">Loading</h4>
				</div>
			</div>
		</div>
	</div>
	<div class="container result_area" >
		<div class="container" ng-repeat="(key, r) in results">
			<h2><br> results for: {{key}} </h2>
			<div style="height:400px;overflow-y:scroll;" >
			<table class="table table-striped table-hover" id="result_table">
				<thead>
					<tr>
						<th>Name</th>
						<th>General Info</th>
						<th>Seeds</th>
						<th>leeches</th>
						<th>Download</th>
					</tr>
				</thead>
				<tbody>
					<tr class="tr" ng-repeat="line in r">
						<td class="td">{{line[0]}} </td>
						<td class="td">{{line[1]}} </td>
						<td class="td">{{line[2]}} </td>
						<td class="td">{{line[3]}} </td>
						<td class="td">
							<a href="{{line[4]}}" class="btn btn-info pull-right" title="Magnet Link">Download</a>
						</td>
					</tr>
				</tbody>
				<br>
			</table>
			</div>
		</div>
	</div>
</div>
{% endverbatim  %}

<script>
var app = angular.module('myApp', [], function ($compileProvider) {

  $compileProvider.aHrefSanitizationWhitelist(/^\s*(https?|ftp|mailto|file|magnet):/);

});

app.controller('queryCtrl', function($scope) {
	$scope.queries = new Array();
	$scope.results = new Array();
	$scope.wow = ""
    $scope.ok = function() 
	{
		if(!$scope.query)
			alert("Query must be non empty.\ngot: " + $scope.query);
		else
		{
			$scope.queries.push(angular.copy($scope.query));
			$scope.query = "";
		}
    };
	
	$scope.remove = function(index)
	{
		$scope.queries.splice(index,1);
	};
	
	$scope.submit = function()
	{
		$scope.submited_queries = $scope.queries;
		$scope.queries = new Array();
	};
	
	$scope.go = function(Qs)
	{	
		$('#myModal').modal({backdrop: 'static', keyboard: false});
		$('#myModal').modal('show');
		var _url = "{% url 'search' %}";
		var handler500 = function() { alert("500: Internal Server Error"); };
		data = {"csrfmiddlewaretoken": "{{ csrf_token }}", state:"inactive", "Qs": Qs};
		$.post(_url, data).done(function(response)
		{
			$('#myModal').modal('hide');
			//alert(response);
			if(response)
			{
				//alert(JSON.stringify(response));
				$scope.$apply(function() { 
					$scope.results = response;
				});
			}
			else
			{
				alert("empty");
			}
		}).fail(function()
		{
			alert("Failed To Search Queries");
		});
	}
});


</script>

