{% block content %}

    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Loading</h4>
                </div>
                <div class="modal-body">
                    Please wait while searching for results ...<br>
                    The search may take up to few minutes, depending on the length of the list
                </div>
            </div>
        </div>
    </div>


    {% verbatim %}
        <div id="main_app" class="container main_app default-primary-color" style="display:block">

            <div>
                <div id="select-engines" class="select-engines-body default-secondary-color">
                    <div class="engines-block">
                        <label class="checkbox-inline search-engine-holder" ng-repeat="(e, val) in engines">
                            <input type="checkbox" value="" ng-click="selectEngine(e);" checked>
                                {{val["name"]}}
                            </input>
                        </label>
                    </div>
                </div>
            </div>

            <div id="DragNDrop" ondrop="drop(event)" ondragover="allowDrop(event)" class="center_align secondary-text-color default-secondary-color">
                <p class="center_aligned_text">
                    Drag and Drop here any text files or just text with queries in order to add them into the list <br>
                    [ One query in each line ]
                </p>
            </div>

            <div class="query_area" >
                <form novalidate>
                    <div class="form_holder default-secondary-color" >
                            <input class="input insert_query" placeholder="Paste Or Enter Query" onpaste="handlePaste(this, event);" type="text" ng-model="query"/>
                            <button class="btn btn-accent myButton " ng-click="ok()"> Add </button>
                    </div>
                </form>

                <div class="table_area default-secondary-color">
                    <table class="table _table-striped table-hover" id="quries_table">
                        <tr class="tr" ng-repeat="x in queries track by $index" ng-init="queryIndex = $index">
                            <td class="td">
                                <table>
                                    <td class ="query_cell">
                                        <div class="query_div">
                                            <p id="query_text_{{$index}}">{{x}}<p>
                                            <input id="query_input_{{$index}}" class="input edit_query"
                                            ng-blur="submited_query($index)" ng-enter="submited_query($index)" type="text" />
                                        </div>
                                    </td>
                                    <td class="query_edit">
                                        <button class="btn btn-accent pull-right myButton " ng-click="updateQuery(queryIndex)"> Edit </button>
                                    </td>
                                    <td class="query_remove">
                                        <button class="btn btn-accent pull-right myButton" ng-click="remove(queryIndex)"> Remove </button>
                                    </td>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            {% endverbatim  %}

            <br>
            <div class="buttom_toolbar">
                <br>
                <button class="btn btn-accent myButton actionButton" ng-click="clearAll()">
                    <strong>Clear all</strong> <span class="glyphicon  glyphicon-remove"></span>
                </button>
                <button class="btn pull-right myButton btn-accent actionButton" ng-click="go(queries)">
                    <strong>Search </strong><span class="glyphicon glyphicon-search"></span>
                </button>
            </div>
        </div>
        <br>


{% endblock %}