
div.body
{
	background-color: #f0f0f0;
	height: 100%;
	color: grey;
}
div.site_header
{
	color: white;
	background-color: #30A0E0;
}

div.main_app
{
	border: 1px;
	width: 70%;
}

div.table_area
{
	/*width: 70%;*/
	/*background-color: #30A0E0;*/
}

.input
{
	width: 90%;
}

.remoove_button
{
	float: right;
}