
div.body
{
	background-color: #f0f0f0;
	height: 100%;
	color: white;
}
div.site_header
{
	color: white;
	background-color: rgb(41,166,229);
}

div.query_area
{
	border-color: black;
	border: 1px;
	float: right;
}